/* add underlines to curent nav item */


body {
  padding: 15px;
  max-width: 700px;
  width: 80%;
  margin: 20px auto;
  font-family: Source Sans Pro;
}

.NavbarList {
  list-style-type: none;
  float: right;
  max-width: 700px;
  margin-top: -10px;
}

.ListItem {
  display: inline;
  margin: 10px;
}

.ListLink {
  color: #2B2826;
  font-size: 20px;
}

h1 {
  color: #2B2826;
  /* letter-spacing: 0.1rem; */
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 80px;
}

#Description {
  color: #2B2826;
  font-size: 20px;
  font-weight:300;
  margin-top: 18px;
  margin-bottom: 20px;
}

#GitHubIcon {
  height: 40px;
  width: 40px;
}

#LinkedInIcon {
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

#Email {
  color: #2B2826;
  font-size: 18px;
  font-weight:300;
}

a {
  color: #FF533D;
  text-decoration: none;
}

hr {
  border: 0;
  width: 10%;
  color: #2B2826;
  background-color: #2B2826;
  height: 2px;
  margin-top: 28px;
  float: left;
}

.Post {

}

.PostTitle {
  margin-top: 90px;
  margin-bottom: 15px;
  color: #FF533D;
  font-size: 45px;
}

.PostDate {
  color: #2B2826;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 300;
}

.ListLink:hover {
  text-decoration: none;
  border-bottom: 3px solid #FF533D;
}

.PostPeek {
  color: #2B2826;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
}

.FooterHR {
  border: 0;
  width: 100%;
  color: #2B2826;
  background-color: #2B2826;
  height: 2px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.FooterText {
  margin-top: 90px;
  margin-bottom: 15px;
  color: #2B2826;
  font-weight: 400;
  font-size: 20px;
}

.About {
  color: #2B2826;
  margin-top: 130px;
  font-size: 20px;
  font-weight: 400;
}

.ArtileTLDR {
  margin-top: 40px;
  color: #2B2826;
  font-size: 22px;
}

.ArticleDate {
  font-size: 22px;
  font-weight: 400;
  color: #2B2826;
}

.ArticleHR {
  border: 0;
  width: 100%;
  color: #2B2826;
  background-color: #2B2826;
  height: 2px;
  margin-top: 0px;
  margin-bottom: 35px;
}

.ArticleH2 {
  color: #2B2826;
  margin-top: 75px;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 40px;
}

.ArticleText {
  color: #2B2826;
  font-size: 22px;
  margin-bottom: 25px;
}

.ArticleQuote {
  border-left: 7.5px solid #FF533D;
  padding-left: 30px;
  color: #2B2826;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 25px;
}
